<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="menu_gls_root" name="GLS-Kalite Kontrol" sequence="100" action="gls_analysis_kanban_action"  web_icon="glsgroup-main,static/description/icon.png"/>

    <menuitem id="menu_analysis" name="Kalite Kontrol" parent="menu_gls_root" sequence="10" />

    <menuitem id="menu_analysis_create" name="Analiz Şablonları" parent="menu_analysis" action="gls_analysis_action" sequence="10" />

    <!-- <menuitem id="menu_analysis_kanban" name="Analiz Ekranı" parent="menu_analysis" action="gls_analysis_kanban_action" sequence="20" /> -->

    <menuitem id="gls_product_analysis_item_menu" name="Ürün Referans Aralığı" action="gls_product_analysis_item_action" parent="menu_analysis" sequence="30" />

    <menuitem id="menu_analysis_stock" name="Ürün Hareketleri" parent="menu_gls_root" action="gls_stock_action" sequence="20" />

    <menuitem id="menu_analysis_result" name="Analiz Sonuçları" parent="menu_gls_root" action="gls_analysis_result_action" sequence="20" />


    


</odoo>